* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
    color: #fff;
    padding: 10px;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 160%;
}
h4 {
    font-size: 140%;
}
#bunny {
    width: 400px;
    height: 400px;
}
#bunny_section {
    border: 1px solid black;
    border-radius: 10px;
    width: min-content;
    height: max-content;
    padding: 10px;
    background-color: #333;
}
@media screen and (min-width: 800px) {
    #bunny {
        width: 600px;
        height: 600px;
    }
}
